
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@450&display=swap');
@font-face {
  font-family: specialelite;
  src: url(SpecialElite.ttf);
}

html{
  font-family: specialelite, monospace;
  background-color:#B9EAC0;

}
body{
  font-family: specialelite, monospace;
  text-align: center;
}
head{
  font-family: specialelite, monospace;

}
a:visited{text-color:#1b2b1d;}
a:link{text-color:#1b2b1d;}
a:hover{text-color:red;}
p{text-color:#1b2b1d;}
h2{text-color:#1b2b1d;}
h1{text-color:#184F0F;}



