 
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
 body{background-color: thistle; border: 2px solid Gray;
 border-radius:  16px;
 margin-left:auto; font-family: 'Dancing Script', cursive;
 margin-right:auto; max-width: 1024; min-width: 256;
 padding-top: 8px;
 padding-bottom: 24px;
 padding-left: 40px;
 padding-right:40px;
 }
 html{
   background: radial-gradient(circle , SkyBlue , SkyBlue 50%, LightCyan 
   50%, skyblue); background-size: 8px 8px;
