 
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@font-face {
  font-family: nasa-font;
  src: url(nasalization-rg.otf);
}
:root{
 --prim-bg:#474542;
 --prim-btn:#474542;
 --prim-accent:#ff9d00;
 --prim-text:#e0e0e0;
 
 html, body{
 background-color: var(--prim-bg);
 margin-left:auto; font-family: 'Nunito', sans-serif;
 margin-right:auto; max-width: 8000pt; min-width: 192pt;
 color:var(--prim-text);
 padding-top: 5pt;
 padding-bottom: 18pt;
 padding-left: 18pt;
 padding-right:18pt;
 }
nav ul {
      font-family: 'nasa-font';
      list-style-type:none;
      background-color:var(--prim-bg);
      border: 4px solid var(--prim-accent);
      border-radius: 10px;
      font-weight:bold;
      padding:16pt;
      margin:0pt;
      }
nav ul li {
          display:inline;
          border-right: 2px solid var(--prim-text);
          padding-right: 8px;
          padding-left: 8px;
          }
nav ul li:last-child{
 border-right:none;}
nav ul li a {
 text-decoration: none;
 color: var(--prim-text);}
 
nav ul li.selected{
 color:#cfcfcf;
}

   
button{
  font-family: 'Nunito', sans-serif;
  background-color:var(--prim-accent);
  color:var(--prim-bg);
  border-radius:15px;
  text-align: center;
  text-decoration: none;
  border:none;
  font-weight: bold;
  font-size: 18px;
}
button a:visited{
 color:var(--prim-bg);
 text-decoration:none;
 font-family: 'Nunito', sans-serif;
 font-weight: bold;
}

button:hover{
 background-color:color-mix(var(--prim-accent), black 15%);
}

p.fact {
 border:4px #00AFEB;
 border-radius:10px;
 padding:16px;

 body a{
 color:var(--prim-text);
 text-decoration:none;
 font-family: 'Nunito', sans-serif;
 font-weight: bold;

}


